# Cassandra related constants
CASSANDRA_HOST      = "localhost"
CASSANDRA_USERNAME  = "cassandra"
CASSANDRA_PASSWORD  = "cassandra"
CASSANDRA_PORT      = 9042
KEYSPACE            = "shekhar_test"
TABLE_EVENT_STORE   = "events_store"
TABLE_QUERYABLE     = "queryable_users"

# Spark related constants
MASTER              = "local[*]"
APPNAME             = "PySpark Cassandra"

# Miscellaneous
NUM_OF_RECORDS      = 100000